body{
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 500px;
    position: relative;
}

.container figure{
    position: absolute;

}

.container figure img{
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.container figure#img1{
    bottom: 200px;
    left: 50px;
    z-index: 1;
}

.container figure#img2{
    bottom: 100px;
    left: 50px;
    z-index: 2;
}

